h1 {
  text-align: center;
}
.navbar {
  background-color: aqua;
  margin-top: -20px;
  height: 70px;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin-top: -43px;
}
@media (max-width: 945px) {
  .navbar ul {
    width: 30%;
  }
}
@media (max-width: 440px) {
  .navbar ul {
    width: 60%;
  }
}
.nav-link {
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.navbar ul li span {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
